<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="page(pageTitle, pageDescription, activePage, mainContent)">
<head>
    <th:block th:replace="~{fragments/metadata :: page-metadata(${pageTitle}, ${pageDescription})}"></th:block>
    <th:block th:replace="~{base :: asset-imports}"></th:block>
</head>
<body>
<div th:replace="~{fragments/header :: site-header(${activePage})}"></div>
<th:block th:replace="${mainContent}"></th:block>
<div th:replace="~{fragments/footer :: site-footer}"></div>
</body>
</html>
