<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="asset-imports">
    <link rel="icon" type="image/svg+xml" th:href="@{/favicon.svg}">
    <link rel="shortcut icon" th:href="@{/favicon.svg}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <script defer th:src="@{/js/site.js}"></script>
</th:block>
</html>
